
.note{
    background:   rgb(1, 1, 26) ;
    margin: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.note h6{
    
    color: red !important;
}

.note h6 strong{
    
    color: red !important;
}